.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  padding: 0 160px;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, .5);
  transition: all .3s ease-in-out;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu--item {
  margin-right: 35px;
}

.menu--item a {
  padding: 30px 0;
  font-size: 14px;
  color: #433246;
  position: relative;
}

.menu--item a::before {
  content: "";
  display: block;
  height: 6px;
  width: 60%;
  left: 50%;
  border-radius: 5px;
  background-color: #c01111;
  position: absolute;
  transform: translateX(-50%) translateY(-100%);
  transition: transform .3s ease, opacity .3s ease;
  opacity: 0;
  transform: translateX(-50%) translateY(-50px);
}


.menu--item-active a {
  color: #c01111;
}

.menu--item-active a::before {
  transform: translateX(-50%) translateY(-25px);
  opacity: 1;
  transition: none;
}

.header--logo {
  padding: 10px;
  margin-right: 125px;
}

.header--logo img {
  max-height: 80px;
  width: 125px;
  padding: 10px 0;
}

.header--language .language {
  display: flex;
}

.language--item a {
  padding: 0 6px;
  font-size: 14px;
  color: #949ba4;
}

.language--item-active a {
  color: #c01111;
  font-weight: 600;
  border: 1px solid #c01111;
  border-radius: 4px;
  padding: 1px 13px;
}

.video {
  position: relative;
  padding-bottom: 48.5%;
  overflow: hidden;
}

.video video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.business--title {
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 62px;
}


.business--description {
  width: 50%;
  padding-left: 73px;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 1.8;
  color: #2b3441;
  font-size: 16px;
}

.business--intro {
  border: 6px solid #f9f9f9;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}

.business--image {
  margin: -117px -35px -115px 40px;
}

.business--image img {
  height: auto;
  width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  object-fit: contain;
}

.business--description::before {
  content: '';
  border: 6px solid #f9f9f9;
  border-radius: 16px;
  position: absolute;
  width: 110px;
  height: calc(100% - 80px);
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* Service */
.service {
  margin-top: 80px;
}

.service ul{
  display: flex;
}

.service--item:first-child {
  margin-right: 20px;
}

.service--item:last-child {
  margin-left: 20px;
}

.service--item:last-child::before{
  content: '';
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #c01111;
  position: absolute;
  right: -83px;
  bottom: 166px;
  transform: translateY(-50%);
}

.service--item {
  width: 50%;
  border: 1px solid #d7dadc;
  border-radius: 16px;
  padding: 48px;
  background-color: #fff;
  position: relative;
  color: #4D5969;
}

.service--item-active {
  border: 1px solid #c01111;
  background-color: #c01111;
  color: #fff;
}

.service--item-active::before {
  content: '';
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #d82329;
  position: absolute;
  right: 50px;
  top: 0;
  transform: translateY(-50%);
}

.service--subtitle::before{
  content: '';
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: #f3f3f3;
  border-radius: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.service--subtitle-active::before {
  background-color: rgba(255, 255, 255, .3);
}

.service--subtitle {
  font-weight: 300;
  position: relative;
  z-index: 0;
  margin-top: 0;
  margin-bottom: 30px;
}

.service--title {
  font-size: 32px;
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 1.3;
}

.service--title-active {
  color: #2b3441;
}

.service--description {
  margin-bottom: 40px;
  line-height: 1.8;
  font-size: 16px;
}

.service--button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #2b3441;
  color: #fff;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  padding: 0 20px;
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.service--button::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transform: scale3d(0.7, 1, 1);
  transition: opacity 0.4s, transform 0.4s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.service--button:hover {
  color: #fff;
}

.service--button:hover .button-icon {
  background-color: rgba(255, 255, 255, .1);
}

.service--button-active.service--button:hover::before {
  opacity: 1;
  background-color: #2b3441;
  border-radius: 8px;
  transform: scale3d(1, 1, 1);
}

.service--button:hover::before {
  opacity: 1;
  background-color: #c01111;
  border-radius: 8px;
  transform: scale3d(1, 1, 1);
}

.service--button:hover {
  color: #fff;
}

.service--button-active {
  background-color: #fff;
  color: #c01111;
}

.button-icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}


.service--button-active .button-icon {
  background-color: rgba(192, 17, 17, .1);
}

/* End Service */


/* Project */

.project {
  margin-top: 150px;
  position: relative;
}


.project::before {
  content: '';
  width: 71px;
  height: 71px;
  border-radius: 50%;
  background-color: #ffeff0;
  position: absolute;
  right: -90px;
  bottom: -40px;
}

.project--content {
  display: flex;
  line-height: 1.8;
}

.project--header {
  position: relative;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.5;
}

.project--header::before {
  content: '';
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #c01111;
  position: absolute;
  right: 32%;
  top: -25px;
  transform: translateY(-50%);
}


.project--header::after {
  content: '';
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgba(192, 17, 17, .1);
  position: absolute;
  left: 0;
  bottom: -40px;
}

.project--counter {
  width: 55%;
}


.counter--item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 60px;
}

.counter--number {
  color: #c01111;
  font-size: 112px;
  font-weight: 700;
  line-height: 1.2;
}

.counter--desc {
  display: flex;
  flex-direction: column;
}

.counter--label {
  color: #c01111;
  font-size: 48px;
  font-weight: 700;
  padding-left: 50px;
}

.counter--title {
  font-size: 24px;
  padding-left: 50px;
  color: #4D5969;
}

.project .service--button {
  width: 75%;
  border-radius: 7px;
}


.project--carousel {
  margin-top: 67px;
  margin-left: 70px;
}

.project--carousel-item {
  position: relative;
  width: 322px;
  border-radius: 8px;
  overflow: hidden;
}

.project--carousel-item img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-radius: 8px;
}

.project--carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(249, 249, 249, .9);
}

.project--carousel-content {
  position: absolute;
  bottom: 38px;
  left: 20px;
  padding: 14px;
}

.project--carousel-subtitle {
  font-size: 13px;
  color: #4D5969;
}

.project--carousel-title {
  font-size: #2b3441;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px 15px;
}

.project--carousel-desc {
  font-size: 14px;
  color: #4D5969;
  margin-bottom: 20px;
}

.btn--content {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #c01111;
}

.btn--title {
  font-weight: 700;
}

.btn--icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgba(192, 17, 17, .1);
  line-height: 24px;
  text-align: center;
}


.project--carousel-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.project--carousel-btn--item {
  display: flex;
  background-color: rgba(148, 155, 164, .1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  color: #949ba4;
}


.project--carousel-btn--item:first-child {
  margin-left: 200px;
}


/* End Project */
